<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to quiz App</h1>
    <p class="col-md-8 fs-4">This quiz contains 5 questions</p>
    <h4>Rules:</h4>
    <ol>
        <li>correct question give you 10 points</li>
        <li>wrong question give you -10 points</li>
    </ol>
    <div class="container text-center">
<h2>All the best</h2>
    </div>
    <div class="name col-md-4 my-3">
        <label for="">Enter your name</label>
        <input #name type="text" class="form-control">
    </div>
    <button class="btn btn-primary" routerLink="/question" (click)="startQuiz()">Start the Quiz</button>
</div>
